{% load static %}
    <!--Vendor-JS-->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/contact-form.js' %}"></script>
    <script src="{% static 'js/ajaxchimp.js' %}"></script>
    <script src="{% static 'js/scrollUp.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
